body {
  background-color: #e8f0f7;
  margin-top: 60px;
}


.authBtn {
  padding: 5px 10px;
  border: none;
  border-radius: 10%;
  margin-top: 2rem;
  color: whitesmoke;
  background-color: green;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-input {
  display: flex;
  margin: 4px;
}