@import "tailwindcss";

body {
  background-color: #e8f0f7;
  margin-top: 60px;
  }

/*

 Forms 
.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-input {
  display: flex;
  margin: 4px;
}



 Buttons 

.authBtn {
  padding: 5px 10px;
  border: none;
  border-radius: 10%;
  margin-top: 2rem;
  color: whitesmoke;
  background-color: green;
}
.oval-button {
  background-color: rgba(48, 49, 50, 0.912) ; 
  color: rgba(221, 223, 226, 0.912); 
  padding: 5px 15px;
  border: none; 
  border-radius: 50px; 
  cursor: pointer; 
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  inset: 20px;
}

.oval-button:hover {
  background-color: var(--hover-color);
}

*/